// Mixins
@mixin flexEnd-center() {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin flexSpaceAround-center() {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin flexSpaceBetween-center() {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flexCenter() {
  display: flex;
  justify-content: center;
  align-items: center;
}


$red: #CB193F;


// home styles 
.Home {
  min-height: 90vh;
  @include flexSpaceAround-center();
  flex-direction: column;

  // main block of home section
  .home__main {
    width: 100%; height: 90%;
    @include flexCenter();
    flex-direction: column;

    // logotype
    .main__logo {
      width: 424px; height: 272px;
      background-image: url("../img/Logo.png");
      background-size: cover;
      background-position: center;
    }

    h1,
    p {
      text-align: center;
    }

    .main__info {
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 48px;
      text-align: center;
      color: #000;
      margin-top: 54px;
    }

    .main__subtitle {
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 32px;
      color: rgba(0, 0, 0, 0.5);
      margin-top: 20px;
    }
  }

  // footer block of home section 
  .home__footer {
    width: 100%; height: 119px;
    @include flexEnd-center();

    .footer__info-wrap {
      width: 50%; height: 100%;
      @include flexSpaceBetween-center();

      .arrow-down {
        width: 51px; height: 51px;
        border-radius: 100%;
        cursor: pointer;
        box-shadow: 0 0 0 rgba(203, 25, 63, .4);
        animation: none;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          animation: pulse 3s infinite;
        }
      }

      #arrow-down-light {
        display: none;
      }

      .shopping-cart {
        width: 85px; height: 96px;
        margin: -46px 43px 0 0;
        cursor: pointer;

        .circle {
          width: 30px; height: 30px;
          background-color: $red;
          border-radius: 100%;
          @include flexCenter();
          color: #fff;
          font-family: montserrat;
          position: relative;
          top: 20px;
          box-shadow: 0 0 4px #333;
        }

        .circle-wrap {
          width: 85px; height: 85px;
          border-radius: 100%;
          @include flexCenter();
          transition: .6s ease-in-out;

          img {
            width: 50px; height: 50px;
          }

          #cart-img-prototype {
            display: none;
          }
        }

        .light-wrap {
          border: 1px solid #111;
        }

        .dark-wrap {
          border: 1px solid #fff;
          display: none;
        }


        &:hover {
          .circle-wrap {
            background-color: $red;
          }

          .light-wrap {
            border: none;

            #cart-img {
              display: none;
            }

            #cart-img-prototype {
              display: block;
            }
          }
        }
      }
    }
  }

  // home media queries
  @media (max-width: 646px) {
    .home__header {
      .header__burger-btn {
        width: 60px !important;
        height: 60px !important;
      }
    }

    .home__main {
      .main__logo {
        width: 300px !important;
        height: 200px !important;
      }

      .main__info {
        font-size: 30px !important;
      }

      .main__subtitle {
        font-size: 20px !important;
      }
    }

    .home__footer {
      height: 70px;

      .footer__info-wrap {
        .arrow-down {
          width: 40px !important;
          height: 40px !important;
        }

        .shopping-cart {
          width: 60px !important;
          margin: 0 !important;

          .circle {
            width: 20px !important;
            height: 20px !important;
            font-size: 10px;
          }

          .circle-wrap {
            width: 55px !important;
            height: 55px !important;

            img {
              width: 30px !important;
              height: 30px !important;
            }
          }
        }
      }
    }
  }

  @media (max-width: 418px) {
    .home__main {
      .main__info {
        font-size: 20px !important;
      }

      .main__subtitle {
        font-size: 15px !important;
      }
    }
  }

  @media (max-width: 305px) {
    .home__main {
      .main__logo {
        width: 200px !important;
        height: 150px !important;
      }

      .main__info {
        font-size: 15px !important;
      }

      .main__subtitle {
        font-size: 10px !important;
      }
    }
  }

  @media (max-height: 775px) {
    .home__main {
      .main__logo {
        margin-top: 80px !important;
        height: 300px !important;
      }
    }
  }

  @media (max-height: 511px) {
    .home__main {
      .main__logo {
        display: none;
      }
    }
  }

  @media (max-height: 462px) {
    .home__main {
      .main__logo {
        width: 150px;
        height: 100px;
      }

      .main__info {
        margin-top: 100px;
        font-size: 20px;
      }

      .main__subtitle {
        font-size: 15px;
      }
    }
  }
}

// Animations
@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(203, 25, 63, .4);
  }

  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(203, 25, 63, .4);
    box-shadow: 0 0 0 0 rgba(203, 25, 63, .4);
  }

  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}